<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.ObtainMapper">

    <!-- 查询所有获奖信息 -->
    <select id="findAll" resultType="com.example.entity.Obtain">
        select * from t_obtain
    </select>

    <!--  添加获奖信息  -->
    <!-- 注意:rank是mysql里的一个函数，所以需要使用`rank`s -->
    <insert id="addObtain">
        insert into t_obtain
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="studentName">student_name,</if>
            <if test="studentNumber">student_number,</if>
            <if test="major">major,</if>
            <if test="cardNumber != null">card_number,</if>
            <if test="raceName">race_name,</if>
            <if test="raceScope">race_scope,</if>
            <if test="rank">`rank`,</if>
            <if test="adviser">adviser,</if>
            <if test="teamSituation">team_situation,</if>
            <if test="grade">grade,</if>
            <if test="obtainTime">obtain_time</if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="studentName">#{studentName},</if>
            <if test="studentNumber">#{studentNumber},</if>
            <if test="major">#{major},</if>
            <if test="cardNumber != null">#{cardNumber},</if>
            <if test="raceName">#{raceName},</if>
            <if test="raceScope">#{raceScope},</if>
            <if test="rank">#{rank},</if>
            <if test="adviser">#{adviser},</if>
            <if test="teamSituation">#{teamSituation},</if>
            <if test="grade">#{grade},</if>
            <if test="obtainTime">#{obtainTime}</if>
        </trim>
    </insert>

    <select id="findById" resultType="com.example.entity.Obtain">
        select * from t_obtain where id = #{id}
    </select>

    <select id="search" resultType="com.example.entity.Obtain">
        select * from t_obtain where student_name = #{studentName}
    </select>

    <select id="getData" resultType="java.util.Map">
        SELECT obtain_time, `rank`, count(*), grade, major FROM t_obtain GROUP BY obtain_time, `rank` ORDER BY obtain_time
    </select>

    <!-- 根据id更新获奖信息 -->
    <update id="updateObtain" parameterType="com.example.entity.Obtain">
        update t_obtain
        <trim prefix="set" suffixOverrides=",">
            <if test="studentName != null">student_name = #{studentName},</if>
            <if test="studentNumber != null">student_number = #{studentNumber},</if>
            <if test="major != null">major = #{major},</if>
            <if test="cardNumber != null">card_number = #{cardNumber},</if>
            <if test="raceName != null">race_name = #{raceName},</if>
            <if test="raceScope != null">race_scope = #{raceScope},</if>
            <if test="rank != null">`rank` = #{rank},</if>
            <if test="adviser != null">adviser = #{adviser},</if>
            <if test="teamSituation != null">team_situation = #{teamSituation},</if>
            <if test="grade != null">grade = #{grade},</if>
            <if test="obtainTime != null">obtain_time = #{obtainTime}</if>
        </trim>
        where id = #{id}
    </update>

    <!-- 根据id删除获奖信息 -->
    <delete id="deleteById">
         delete from t_obtain where id = #{id}
    </delete>


    <insert id="saveAll" parameterType="java.util.List">
        insert into t_obtain (student_name,student_number,major,card_number,race_name,race_scope,`rank`,adviser,team_situation,grade,obtain_time)
        <foreach collection="list" item="item" index="index" separator=",">
            (
                #{item.studentName},
                #{item.studentNumber},
                #{item.major},
                #{item.cardNumber},
                #{item.raceName},
                #{item.raceScope},
                #{item.rank},
                #{item.adviser},
                #{item.teamSituation},
                #{item.grade},
                #{item.obtainTime}
            )
        </foreach>
    </insert>

</mapper>